### Array Sum

In [2]:
li = [int(ele) for ele in input().split()]
sum = 0
for i in range(len(li)):
    sum = sum + li[i]

    
print(sum)

1 2 3 4 5
15

### Reverse of a list

In [3]:
def reverse_of_list(li):
    
    length = len(li)
    
    for i in range(length//2):
        
        li[i], li[length-i-1] = li[length-i-1],li[i]
        
    return li

In [4]:
li = [1,3,4,6,7,8]
reverse_of_list(li)

[8, 7, 6, 4, 3, 1]

### Swap Alternate

In [5]:
def swap_alternate(li):
    
    length = len(li)
    
    for i in range(0,length-1,2):
        
        li[i],li[i+1] = li[i+1],li[i]
        
    return li

In [7]:
li = [1,3,4,6,7,8]
swap_alternate(li)

[3, 1, 6, 4, 8, 7]

### Find unique

In [23]:
def find_unique(li):
    
    for i in range(len(li)):
        
        j = 0
        
        while j < len(li):
            if i != j:
                if li[i] == li[j]:
                    break
                
            j = j + 1
            
        if j == len(li):
            return li[i]

In [24]:
li = [1,1,2,2,3,4,4]
find_unique(li)

3

### Find Duplicate

In [25]:
def find_duplicate(li):
    
    for i in range(0,len(li)):
        
        j = 0
        
        while j < len(li):
            
            if i != j:
                if li[i] == li[j]:
                    return li[i]
                
            j = j + 1
            
    else:
        return

In [26]:
li = [1,2,3,4,5,6,6]
find_duplicate(li)

6

### Intersection of two arrays

In [29]:
import sys

def intersection_of_2list(arr1,arr2):
    li = []
    for i in range(len(arr1)):
        for j in range(len(arr2)):
            
            if arr1[i] == arr2[j]:
                li.append(arr1[i])
                arr2[j] = sys.maxsize
                
                break
            
    return li

In [30]:
li1 = [1,2,3,4,5,6,8]
li2 = [1,3,4,6,7,9]

intersection_of_2list(li1,li2)

[1, 3, 4, 6]

### Pair Sum

In [32]:
def pair_sum(arr,x):
    
    count = 0
    
    for i in range(0,len(arr)):
        
        for j in range(i+1,len(arr)):
            
            if arr[i] + arr[j] == x:
                
                count = count + 1
                
    return count

In [33]:
li3 = [1,2,3,4,5,6,8]
pair_sum(li3,5)

2

In [40]:
### If we had to return indices
##Leetcode
def pair_sum2(arr,x):
    
    li = []
    
    for i in range(0,len(arr)):
        
        for j in range(i+1,len(arr)):
            
            if arr[i] + arr[j]:
                
                li.append(i)
                li.append(j)
                
                break
            else:
                continue
                
    return li

In [41]:
li3 = [1,2,3,4,5,6,8]
pair_sum2(li3,5)

[0, 1, 1, 2, 2, 3, 3, 4, 4, 5, 5, 6]

### Triplet Sum

In [44]:
def triplet_sum(arr,x):
    
    count = 0
    
    for i in range(0,len(arr)):
        
        for j in range(i+1,len(arr)):
            
            for k in range(j+1,len(arr)):
                
                
                if arr[i] + arr[j] + arr[k] == x:
                    
                    count = count + 1
                    
    return count

In [46]:
li4 = [1,1,3,4,5,6,7]
triplet_sum(li4,5)

1